# common
pandas
numpy
jupyter

# duckdb
duckdb

# tfidf
scikit-learn

# vector db (disabled for performance reasons)
## sentence-transformers

# embeddings db (disabled for performance reasons)
## torch
## transformers
## tqdm
